<!DOCTYPE html>
<html>
    <head>
        {%include 'inc/header.html'%}
    </head>
    <body>
        <div class="layui-layout layui-layout-admin">
            {%include 'inc/top.html'%}
            {%include 'inc/menu.html'%}
            
            <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
                <div class="x-slide_left"></div>
                <div class="layui-tab-content site-demo site-demo-body">
                    <div class="layui-tab-item layui-show">
                        <iframe frameborder="0" src="main" class="x-iframe" id="content"></iframe>
                    </div>
                </div>
            </div>
            <div class="site-mobile-shade">
            </div>
        </div>
        {%include 'inc/script.html'%}
    </body>
</html>