<!DOCTYPE html>
<html>
    
    <head>
        {%include 'inc/header.html'%}
    </head>
    
    <body style="background-color: #393D49">
        <div class="x-box">
            <div class="x-top">
                <i class="layui-icon x-login-close"  style="display:none;">
                    &#x1007;
                </i>
                <ul class="x-login-right"  style="display:none;">
                    <li style="background-color: #F1C85F;" color="#F1C85F">
                    </li>
                    <li style="background-color: #EA569A;" color="#EA569A">
                    </li>
                    <li style="background-color: #393D49;" color="#393D49">
                    </li>
                </ul>
            </div>
            <div class="x-mid">
                <div class="x-avtar">
                    <img src="{{static_url('images/logo.png')}}" alt="">
                </div>
                <div class="input">
                    <form class="layui-form" action="/user/login" method="post" target="f1">
                    {% module xsrf_form_html() %}
		            <input type="hidden" name="function" id="function" value="msg"/>
		            <input type="hidden" name="url" id="url" value="/" />
		            <iframe id="f1" name="f1" style="display:none;"></iframe>
                        <div class="layui-form-item x-login-box">
                            <label for="username" class="layui-form-label">
                                <i class="layui-icon">&#xe612;</i>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="username" required="" lay-verify="phone"
                                autocomplete="off" placeholder="手机号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item x-login-box">
                            <label for="pass" class="layui-form-label">
                                <i class="layui-icon">&#xe628;</i>
                            </label>
                            <div class="layui-input-inline">
                                <input type="password" id="password" name="password" required="" lay-verify="pass"
                                autocomplete="off" placeholder="密码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="loginbtn">
                            <button  class="layui-btn" lay-filter="save" lay-submit="">
                                登 录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p style="color:#fff;text-align: center;">Copyright ©{{data['setting']['copyright']}} All Rights Reserved.</p>
        {%include 'inc/script.html'%}
        </script>
        <script>
            layui.use(['form'],
            function() {
                $ = layui.jquery;
                var form = layui.form(),
                layer = layui.layer;

                $('.x-login-right li').click(function(event) {
                    color = $(this).attr('color');
                    $('body').css('background-color', color);
                });

                form.on('submit(save)');
            });

        </script>
    </body>

</html>