<!DOCTYPE html>
<html>
    <head>
        {%include 'inc/header.html'%}
    </head>
    <body>
        <div class="x-body">
            <blockquote class="layui-elem-quote">
                欢迎使用Demeter后台管理系统<span class="f-14">v1.0.0</span>
            </blockquote>

            <table class="layui-table" style="display:none;">
                <thead>
                    <tr>
                        <th>统计</th>
                        <th>传感器</th>
                        <th>控制器</th>
                        <th>摄像头</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>总数</td>
                        <td>92</td>
                        <td>9</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>在线</td>
                        <td>10</td>
                        <td>5</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>离线</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table" style="display:none;">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">设备当前数据</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30%">1号温度</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>2号温度</td>
                        <td>x.xuebingsi.com</td>
                    </tr>
                    <tr>
                        <td>服务器端口 </td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>

            <table class="layui-table" style="display:none;">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">服务器信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30%">服务器版本</td>
                        <td>v1.0.0</td>
                    </tr>
                    <tr>
                        <td>服务器状态</td>
                        <td>在线</td>
                    </tr>
                    <tr>
                        <td>服务器端口</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {%include 'inc/footer.html'%}
        {%include 'inc/script.html'%}
    </body>
</html>